<div class="text-center textdecor">Forecast Graph</div>

<form [formGroup]="predForm" (ngSubmit)="on_Pred()">
  <div class="form-group">
    <label for="oem" class="col-form-label">Car Manufacturer</label>
    <select class="form-control" formControlName="oems" required="required">
      <option *ngFor="let mans of OEMS" [ngValue]="mans">
        {{ mans }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="model" class="col-form-label">Car Models</label>
    <select class="form-control" formControlName="models" required="required">
      <option *ngFor="let mods of MODELSS" [ngValue]="mods">
        {{ mods }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label class="col-form-label">Body Type</label>
    <select class="form-control" formControlName="bodys" required="required">
      <option *ngFor="let bods of BODYTPS" [ngValue]="bods">
        {{ bods }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="months" class="col-form-label">Months</label>
    <input type="text" formControlName="months" class="form-control" required />
  </div>
  <br />

  <button type="submit" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
</form>

<div *ngIf="isImageLoading">
  <img src="../../assets/py-imgbefore.png" alt="Before forecast" />
  <br>
  <img src="../../assets/py-img.png" alt="After forecast" />
</div>
